
<h1 id="welcome">Welcome to the Task Manager</h1>

<div id="wrapper-menu">
  <ul id="menu">
    <li><a href="/tasks">Task Index</a></li>
    <li><a href="/tasks/new">New Task</a></li>
  </ul>
</div>
