<div class="wrapper-task">
  <form action="/tasks" method="post" class='task-new'>
    <p class="enter-task">Enter a new task</p>
    <input type='text' name='task[title]' class="enter-text" id="title1" placeholder="Task name:"/><br/>
    <textarea name='task[description]' class="enter-description" id="description1" placeholder="Task description:"></textarea><br/>
    <input type='submit' class="enter-submit" value="Submit" disabled="false"/>
  </form>
  <a class="back" href="/"><<</a>
</div>
